/* Add your CSS Below */

.header {
  margin-left: 100px;
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  min-width: 350px;
  border-radius: 10px 10px 0 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table thead tr {
  background: green;
  text-align: right;
  color: white;
}

table tbody tr:nth-child(odd) {
  background: lightsteelblue;
}

table tbody tr {
  text-align: right;
}

table thead tr th:nth-child(2) {
  text-align: left;
}

table tbody tr td:nth-child(2) {
  text-align: left;
}

table th,
table td {
  padding: 10px;
}

/* tr:nth-of-type(odd) {
  background: lightsteelblue;
} */
